main {
  margin-left: 320px;
}

main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1050px) {
  main ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  main ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 590px) {
  main {
    margin-top: 20px;
    margin-left: 0;
  }
  main ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  main ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
